/* laky vozidel */
.lakVozidla {
  padding: 0.2ex 1ex;
  display: inline-block;
  margin-bottom: 0.3ex;
}
/*
br + .lakVozidla {
    margin-top: 0.5ex;
}
*/

.najbrt2_, .najbrt2 {
  color: white;
  background-color: #28C8FD;
}

.najbrt2_sachy {
  color: #001C9D;
  background-color: #28C8FD;
  
  border-left: 0.6ex solid #001C9D;
  border-right: 0.6ex solid #001C9D;
  padding-left: 0.4ex;
  padding-right: 0.4ex;
}
.najbrt2_vlajka {
  color: #D55000;
  background-color: #28C8FD; /*amen*/
}

.najbrt1 {
  color: black;
  background-color: #6D99CF;/*#4A81C4;*/
}

.najbrt1bila {
  color: white;
  background-color: #6D99CF;
}

.cd_vectron {
  border-top: 0.8ex solid #0C3A94;
  border-bottom: 0; /* .4ex solid #28C8FD; */
  background: white;
  background: #5FD7FE;
  color: #0C3A94;
  padding-top: 0;
/*  padding-bottom: 0;*/
}

.seda_lok {
  color: black;
  background-color: #E0E0E0;
}

.zelena_svetla {
  color: #FDF5C1;
  background-color: #019C53;
}

.zelena_svetla_retro { /* 151 023 */
  color: #FFED0F;
  background-color: #019C53;
  border-left: 1ex solid #FF8000;
  border-right: 1ex solid #FF8000;
  padding-left: 0.6ex;
  padding-right: 0.6ex;
}

.zelena_pruh { /*163 234*/
  border-top: 0.6ex solid #FEFBC7;
  border-bottom: 0.6ex solid #FEFBC7;
  color: #F8DC16;
  background-color: #219824;
  padding-top: 0;
  padding-bottom: 0;
  
}

.upce {
  background: #00007D;
  color: white;
  
  border-left: 0.8ex solid #FF3333;
  border-right: 0.7ex solid #FF3333;
  padding-left: 0.4ex;
  padding-right: 0.5ex;
}

.modre_eso {
  background: #003584;
  color: #FFF791;
}

.modre_eso_zluty_pruh {
  background: #003584;
  color: #F4D600;
}

.modre_eso_uzky_pruh {
  background: #003584;
  color: white;
}

.modre_eso_svetly_pruh {
  border-top: 0.6ex solid #97D2FF;
  border-bottom: 0.6ex solid #97D2FF;
  
  padding-top: 0;
  padding-bottom: 0;
  
  background: #003584;
  color: #FFF791;
}
.retro_eso {
  background: #FFA953;
  color: #001C9D;
}
.eso_okay {
  background: #1573FF;
  color: white;
}
.eso_slovenska_pojistovna {
  color: #003584;
  background: white;
  border-bottom: 0.6ex solid #003584;
  padding-bottom: 0;
}
.eso_euro {
  background: #F06D4D;
  color: white;
}
.eso_078 {
  color: #039AD3;
  background: #FBE64D;
}

.euro2012 {
  color: #000080;
  background-color: #FF0000;
}

.kometa_380 {
  color: white;
  background: #000080;
}

.modrocervena_380, 
.euro2012_380 { 
  background: #D50000;
  color: #9FCBFF;
}

.sportovni {
  color: #e51616;
  background: white;
}

.nostalgicka_380 {
  color: #557DE8;
  background-color: #ededed;
  
  border-left: 0.6ex solid #557DE8;
  border-right: 0.6ex solid #557DE8;
  padding-left: 0.4ex;
  padding-right: 0.4ex;
}

.skoda_380 {
  color: #FF8F20;
  background-color: #fff;
  
  border-left: 0.6ex solid #FF8F20;
  border-right: 0.6ex solid #FF8F20;
  padding-left: 0.4ex;
  padding-right: 0.4ex;
}

.slovenska_strela_380 {
  background: #A44446;
  color: #AEF1FF;
}

.stolet_380 {
  color: #B9DCFF;
  background-color: #646464;
  
  border-left: 0.6ex solid #FF5E5E;
  border-right: 0.6ex solid #FF5E5E;
  padding-left: 0.4ex;
  padding-right: 0.4ex;
}

.desiro_db {
  color: #fff;
  background-color: #D71111;
}
.blonski {
  color: #fff;
  background-color: #FF0000;
}
.zssk_vectron {
  color: #000;
  background-color: #F55;
  border-left: 0.4ex solid #000;
  border-right: 0.4ex solid #000;
  padding-left: 0.6ex;
  padding-right: 0.6ex;
}

.kakadu {
  color: #fff;
  background-color: #2361C7;
}

.kakadu_vinove {
  color: #fff;
  background-color: #BD2443;
  border-left: 1ex solid #DADADA;
  border-right: 1ex solid #DADADA;
  padding-left: 0.6ex;
  padding-right: 0.6ex;
}

.gorila_retro {
  color: #fff;
  background-color: #868686;
}

.gorila_retro_hugo {
  background-color: #04ABFB;
  color: white;
  border-left: 1ex solid #F0DC2B;
  border-right: 1ex solid #F0DC2B;
  padding-left: 0.6ex;
  padding-right: 0.6ex;
}

.zelena {
  color: #F8DC16;
  background-color: #005900;
}
.zelena_pastelova { /*zssk*/
  color: #FBEA4F;
  background-color: #01AD4F;
}

.cez {
  color: #E0E0E0;
  background-color: #FF8000;
}

.sysel_pruh {
  border-top: 0.4ex solid #0C3A94;
  padding-top: 0;
}

.cyklohracek {
  color: #FFFFFF;
  background-color: #5BD23E;
}

.regionova {
  color: #008000;
  background-color: #FDF002;
}
.regionova_modra_polep {
  color: #001C9D;
  background-color: #28C8FD;
  border-bottom: 0.5ex solid #001C9D;
  padding-bottom: 0;
}
.regionova_modra {
  color: #02ADE6;
  background-color: white;
  border-bottom: 0.5ex solid #001C9D;
  padding-bottom: 0;
  border-top: 0.5ex solid #28C8FD;
  padding-top: 0;
}

/*
.pendolino {
  color: #FEF763;
  background-color: #747474 ;
  border-bottom: 0.5ex solid #75BAFF;
  padding-bottom: 0;
  border-top: 0.5ex solid #75BAFF;
  padding-top: 0;
}
*/

.pendolino {
  color: #B7E0FF;
  background-color: #747474;
}

.sedy_pantograf {
  color: #F2410D;
  background-color: #C2CDCF;
  border-top: 0.5ex solid #3F98BA;
  padding-top: 0;
  border-bottom: 0.5ex solid #3F98BA;
  padding-bottom: 0;
}

.sedy_pantograf_dvere {
  color: #001C9D;
  background-color: #C2CDCF;
  border-top: 0.5ex solid #3F98BA;
  padding-top: 0;
  border-bottom: 0.5ex solid #3F98BA;
  padding-bottom: 0;
}

.sedy_pantograf_prouzek {
  color: #F2410D;
  background-color: #C2CDCF;
  border-top: 0.5ex solid #3F98BA;
  padding-top: 0;
  border-bottom: 0.5ex solid #3F98BA;
  padding-bottom: 0;
  border-left: 1ex solid #FFD540;
}

.sedy_pantograf_retro {
  color: #35839F;
  background-color: #C2CDCF;
  border-top: 0.5ex solid #3F98BA;
  padding-top: 0;
  border-bottom: 0.5ex solid #3F98BA;
  padding-bottom: 0;
}

.zbt_451001 {
  background: #005575;
  color: #FF7979;
}
.zbt_451025 {
  background: #00FFFF;
  color: #BF0000;
}

.zelena460 {
  color: #FDF5C1;
  background-color: #007100;
}

.cervena560 {
  color: #FDF5C1;
  background-color: #DD0000;
}

.sukafon_zluty_pruh {
  color: #FED801;
  background-color: #CC0909;
}

.sukafon_slon_pruh {
  color: #FFF1A6;
  background-color: #DC565C;
}

.sukafon_polomaceny {
  color: #F8E8B8;
  background-color: #A80004;
  border-top: 0.6ex solid #F8BC07;
  padding-top: 0;
}

.sukafon_najbrt2 {
  border-top: 0.6ex solid #0C3A94;
  padding-top: 0;
  color: white;
  background-color: #6D99CF;
}

.sukafon_ods {
  background-color: white;
  color: #000080;
  border-left: 1ex solid #FFE009;
  border-right: 1ex solid #FFE009;
  padding-left: 0.6ex;
  padding-right: 0.6ex;
}

.br_modry {
  background: #003584;
  color: #ddd;
}
.br_najbrt1_bily {
  color: #338FDB;
}

.br_najbrt2 {
  color: #1C2E4A;
  background-color: #59A4E1;
}

.br_najbrt2_bily {
  color: #fff;
  background-color: #59A4E1;
}

.br_zeleny {
  color: #1f753a;
}

.br_zeleny {
  background-color: #019C53;
  color: #fff;
}

.br_oranzovy {
  background: #FFAC00;
  color: #5C5C5C;
}

.br_zeleny_blesk {
  background: #238341;
  color: #e5e500;
}

.br_cerveny {
  color: #e51616;
}
.br_vinovy {
  color: #98272B;
}

.br_rudy_blesk {
  background: #FF5151;
  color: #000;
}

.br_cerveny_pruh {
  background: #e51616;
  color: #ffcf17;
}

.br_modry_blesk {
  background: #004DFF;
  color: #FCDD03;
} 

.br_cerny {
  background: #000;
  color: #fff;
}

.br_svetle_modre {
  color: #6493FF;
  background: #FEF29C;
}

.kapsch {
  color: #000;
  background: #FEF218;
}

.taurus {
  color: #000;
  background: #FF4A4A;
}

.rj_obb {
  color: #FF8484;
  background: #303030;
}

.rj_cd {
  color: #00f;
  background-color: #28C8FD;
}

.leo_express {
  background: #393C46;
  color: #FFCA28;
}

.regiojet {
  background: #FFC90F;
  color: #075EC7;
}
.regiojet_italka {
  border-left: 0.6ex solid red;
  border-right: 0.6ex solid red;
  padding-left: 0.4ex;
  padding-right: 0.4ex;
  background: #FFC90F;
  color: #0632C8;
}
.regiojet_193 {
  border-left: 0.4ex solid black;
  border-right: 0.4ex solid black;
  padding-left: 0.6ex;
  padding-right: 0.6ex;
  background: #FFC90F;
  color: black;
}
.regiojet_193_dovolena {
  border-left: 0.6ex solid #0000bb;
  border-right: 0.6ex solid #0000bb;
  padding-left: 0.4ex;
  padding-right: 0.4ex;
  background: #FFC90F;
  color: blue;
}
.regiojet_193_zelena {
  border-left: 0.7ex solid #00CA00;
  border-right: 0.7ex solid #00CA00;
  padding-left: 0.4ex;
  padding-right: 0.4ex;
  background: #545454;
  color: white;
}
.regiojet_193_bila {
  background: white;
  color: black;
}
.regiojet_traxx {
  background: #FFC90F ;
  color: #5C5C5C  ;
  border-left: 1ex solid #D8D8D8 ;
  border-right: 1ex solid #D8D8D8 ;
}

.vlajka {
  background: #0000A0;
  color: #FF5353;
}

.bastard_kremovy {
  background: #FF4646;
  color: #FFF791;
}

.bastard_zluty {
  background: #FF2B2B;
  color: #F4D600;
  
  border-left: 0.8ex solid #F4D600;
  border-right: 0.7ex solid #F4D600;
  padding-left: 0.4ex;
  padding-right: 0.5ex;
}

.vt650_modre {
  color: #FFE635;
  background: #0000A0;
}
.vt650 {
  background: #F9DA00;
  color: #6E6E6E;
}

.motorak_najbrt {
  color: white;
  background-color: #6D99CF;
}

.motorak_najbrt_2 {
  border-top: 0.6ex solid #0C3A94;
  padding-top: 0;
  color: white;
  background-color: #6D99CF;
}

.motorak_kremovy {
  color: #FFF1A6;
  background-color: #DC565C;
}
.motorak_854_retro {
  color: #DC565C;
  background-color: #FFE682;
}

.elefant_1_bily {
  background: white;
  color: blue;
}
.elefant_ropid {
  border-top: 0.4ex solid white;
  background: white;
  color: red;
}
.elefant_ropid_25 {
  border-top: 0.6ex solid #0C3A94;
  background: white;
  color: red;
}
.elefant_2_cerveny {
  background: #A7CDF3;
  color: #FF0000;
}

.elefant_3_n1 {
  color: white;
  background-color: #6D99CF;
}
.elefant_4_n2 {
  border-top: 0.6ex solid #0C3A94;
  padding-top: 0;
  color: white;
  background-color: #6D99CF;
}

.elefant_4_polep {
  background: #000080;
  color: #FFFF00;
}

.vesela_krava {
  background: #FF9F40;
  background: #FF7040;
  background: #FF7B4F; 
  color: #0000A0;
}

.sukafon_cerveny_pismo {
  color: #DD0000;
}

.sukafon_najbrt_pismo {
  color: #0000DF ;
}

.plechac_oranzovy {
  background: #E9A31F;
  color: white;
}
.plechac_polomaceny {
  background: #EBA930;
  color: black;
}
.plechac_zlute_celo {
  background: yellow;
  color: red;
}
.plechac_prouzek {
  background: red;
  color: yellow;
}


.slon_ova_24 {
  color: #ff00ff;
}
.slon_ova_25 {
  color: #ff6600;
}
.slon_ova_35 {
  color: #008000;
}
.slon_ova_54 {
  color: #327dcc;
}
.slon_ova_55 {
  color: #ff0000;
}
.slon_ova_56 {
  color: #0000ff;
}
.slon_ova_57 {
  color: #993366;
}
.slon_ova_58 {
  color: #674ea7;
}


.cd_cargo {
  background: #9BE3FF;
  color: #181892;
}

.ponorka_cervena {
  background: #E72525;
  color: #FFF200;
}

.kocour_zeleny {
  background: #6CFFA7;
  color: #008000;
}

.kocour_tmavecerveny {
  background: #9B2424;
  color: #FFF200;
}

.kocour_cervenohnedy {
  background: #973100;
  color: #FFF200;
}

.kocour_cerveny {
  background: #E72525;
  color: #FED77A;
}

.kocour_hokejka {
  background: #E72525;
  color: #FED77A;
  border-left: 1ex solid #FED77A;
  border-right: 1ex solid #FED77A;
}

.kocour_zluty {
  background: #FED77A;
  color: #E72525;
}

.lego_8 {
  background: #DDDDDD;
  color: #CC0000;
  border-left: 1ex solid #0000A0;
  border-right: 1ex solid #0000A0;
}

.lego_10 {
  background: #D8BCA0;
  color: #B30000;
  border-left: 1ex solid #0000A0;
  border-right: 1ex solid #0000A0;
}

.berta_seda {
  background: #DDDDDD;
  color: #E46416;
  border-top: 4px solid #E46416;
}

.berta_zelena {
  background: #005E00;
  color: #D6D1A3;
}

.berta_modrocervena {
  background: #B1D0FE;
  color: #DD0000 ;
}

.berta_modra {
  background: #3C4DC1 ;
  color: #FFB0B0 ;
}

.berta_azd {
  background: #0000AE;
  color: #F1FE01;
}

.berta_cervena {
  background: #FF4848;
  color: #D6D6D6;
}

.berta_259 {
  background: #77B5FF;
  color: #fff;
}

.kocour_cerveny {
  background: #EB8383;
  color: #FFEDB0;
}

.kocour_vleckovy {
  background: #5155FF;
  color: #FFEDB0;
}

.hurvinek {
  background: #A40000;
  color: white;
}

.hektor_modry {
  background: #000080;
  color: #FFEDB0;
  border-bottom: 4px solid #D92626;
}

.hektor_svetle_modry {
  background: #5E9EFF;
  color: #B72020;
}

.azd_sukafon {
  background: #FFF475;
  color: #0000AE;
}

.sk_sukafon {
  background: #ccc;
  color: #E83A00;
}

.sukafon_retro_polomaceny {
  border-top: 4px solid #FEE78B;
  border-bottom: 4px solid black;
  background: #E83A00;
  color: white;
}

.krokodyl {
  border-top: 4px solid #999;
  background: #FFEEC6;
  color: #EC0000;
}

.kredenc {
  background: #FF8080;
  color: #FFEEB9;
}

.sukafon_doupov {
  background: #B9E1A6;
  color: #0084E6;
}

.arriva1 {
  /*background: #01BA87;*/
  background: #018091;
  color: #EBED94;
}

.arriva2 {
  /*background: #01BA87;
  color: black;
  */
  background: #018091;
  color: white;
}

.gwtr {
  background: #FDAB51;
  color: #006633;
}

.obb1144 {
  background: #D1D1D1;
  color: #D20000;
}

.polomacena {
  background: #FFEEC6;
  color: #EC0000;
}
.polomacena_oranz {
  background: #FFEEC6;
  color: #EC0000;
  border-left: 1ex solid #FFA600;
  border-right: 1ex solid #FFA600;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}
.polomacena_zluty {
  background: #FFF0CE;
  color: #EC0000;
  border-left: 1ex solid #F1FE01;
  border-right: 1ex solid #F1FE01;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}


